.app-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}


th,
td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  font-size: 12px;
}

th {
  background-color: rgb(117, 130, 51);
}

td {
  background-color: rgb(158, 130, 40);
}

form {
  display: flex;
  gap: 2px;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

form * {
  font-size: 7px;
}

#tableTitle{
  text-align: center;
}